/*
Override default #poststuff
*/
.membpress {
	background-color: #045580;
	color: #FFF;
	padding-left: 15px;
	padding-bottom: 15px;
}
.membpress h2, .membpress .membpress_settings_collapse_expand a {
	color: #FFF !important;
}
.membpress .meta-box-sortables {
	color: #2C2C2C !important;
}
.membpress .postbox {
	background-color: #E2F2FA !important;
}
.membpress .postbox .inside p {
	line-height: 1.65em !important;
}
.membpress #poststuff {
	margin-top: 0px;
	padding-top: 0px !important;
}
.membpress #poststuff h2 {
	font-size: 1.7em;
}
.membpress_header {
	text-align: center;
}
.membpress_header img {
	width: 32%;
	padding-top: 15px;
}
/*
remove the move cursor from the handle
*/
.membpress .hndle {
	cursor: pointer !important;
	background-color: #f5fafc;
	border-bottom-color: #bfdae7;
}
/* Increase the left margin of radio boxes in welcome login group */
.membpress .membpress_welcome_login_group input[type=radio] {
	margin-left: 20px;
	margin-bottom: 5px;
}
.membpress .membpress_welcome_login_group input[type=radio]:first-child {
	margin-left: 0;
}
/*
 Collapse expand all meta boxes in membpress
*/
.membpress .membpress_settings_collapse_expand {
	line-height: 29px;
	margin-top: 20px;
	font-size: 0.95em;
}
.membpress .membpress_settings_collapse_expand .dashicons {
	margin-top: 5px;
}
/*
Updated message bar close button on right
*/
.membpress .membpress_updated_close {
	float: right;
}
.membpress .updated, .membpress .error p {
	color: #272727 !important;
}

/*
Fix the padding on the membpress icon in the menu
*/
#toplevel_page_membpress_page_quick_start .wp-menu-image img {
	padding:6px 0 0 !important;
	width:20px;	
}

/*
CSS responsive fix for the expand/collapse buttons
*/
@media all and (max-width: 780px) {
.membpress_settings_collapse_expand, .membpress_settings_heading {
	float: none !important;
}
.membpress_settings_collapse_expand {
	margin-top: 0 !important;
	margin-bottom: 5px;
}
.membpress_settings_heading {
	margin-bottom: 0 !important;
}
}
/**
Miscellaneous
*/
.membpress_pull-right {
	float: right;
}
.membpress_pull-left {
	float: left;
}
.membpress_clear {
	clear: both;
}
.membpress_hidden {
	display: none;
}
.membpress-admin-menu-sep {
	height: 1px;
	background-color: #7C7C7C;
	display: block;
}
.membpress_subs_recurring_txt, .membpress_subs_onetime_txt, .membpress_subs_recurring_for, .membpress_subs_onetime_for, .membpress_subs_lifetime_txt, .membpress_subs_lifetime_for, .membpress_subs_duration {
	display: none;
}

.membpress_subs_active_warning {
	background-color:#F7F6AE;
	padding:10px;
	display:block;	
}
.membpress_inline {
	display:inline;	
}
/*
Fix the width of the post/page ID column in edit post screen
*/
.fixed .column-post_ID, .fixed .column-page_ID {
	width: 5%;
}
.fixed .column-category_ID, .fixed .column-tag_ID {
	width: 7%;
}
/*
Create rules for textbox/textarea sizes
*/
.membpress_span1 {
	width: 60px;
}
.membpress_span2 {
	width: 120px;
}
.membpress_span3 {
	width: 180px;
}
.membpress_span4 {
	width: 240px;
}
.membpress_span5 {
	width: 300px;
}
.membpress_span6 {
	width: 360px;
}
.membpress_span7 {
	width: 420px;
}
.membpress_span8 {
	width: 480px;
}
.membpress_span-full {
	width: 100%;
}
/*
Clear background clear of the read only textboxes and textareas
*/
.membpress input.readonly, .membpress input[readonly], .membpress textarea.readonly, .membpress textarea[readonly] {
	background-color: #FFF;
}

/*
Admin menu bar customizations for membpress links
*/
#wpadminbar #wp-admin-bar-membpress_admin_bar > .ab-item {
	background-image:url('../images/icon_60.png') !important;
    background-repeat:no-repeat;
    background-position:8px;
    padding-left:34px;
	background-size:20px;
}

#wpadminbar #wp-admin-bar-membpress_admin_bar:hover > .ab-item {
    background-image:url('../images/icon_blue.png') !important;		
}

/*
Custom widget in title rules in WP admin
*/
.membpress-in-widget-title {
    color: #666;
	display:block;
	padding-bottom:15px;
	margin-left:10px;
	padding-left:25px;
	background-image:url(../images/icon_gray.png);
	background-size:18px;
	background-repeat:no-repeat;
	background-position:left top;
}

/*
Restrict sidebar widgets list rule
*/
.membpress_restrict_sidebars_widgets ul {
	display:block;
	float:left;
	margin-top:0px;
	margin-right:20px;
}

.membpress_restrict_sidebars_widgets ul li:nth-child(n + 2) {
	margin-left: 20px;
}

.membpress_restrict_sidebars_widgets ul li p {
	margin-top:4px;
	margin-bottom:4px;	
}

/**
Change logo button css
*/
.membpress_logo_btns {
	margin-top:15px !important;
	margin-left:15px !important;
	float:left;	
}

/*
Customize the layout of the color picker button on login customize form
*/
.membpress_login_customize_options  .wp-picker-container {
	float:left;	
}

/**
Customize the appearance of membpress subscriptions added
*/
.membpress_subs_rates {
	background-color:#f5fafc;
	padding:5px 15px;	
}